/* fenêtre globale de l'écran */
body {
  margin: 0; /* pas de marges extérieurs */
  padding: 0; /* pas de marges intérieurs */
  min-height: 100vh; /* hauteur min de la fenêtre */
  background: #747474; /*couleur du fond d'écran */
  display: flex; /* utilisation du positionement en flex (par default en ligne) */
  justify-content: center; /* alignement de/des enfant(s) direct de "body", au centre, dans sa largeur */
  align-items: center; /* alignement de/des enfant(s) direct de "body", au centre, dans sa hauteur */
  font-family: "Courier New", Courier, monospace; /* déclaration de la font par default utilisée sur l'ensemble de la fenêtre */
}

/* cadre contenant les différentes cartes */
.container {
  width: 1300px; /*largeur du cadre */
  position: relative; /* positionnement relatif de la div */
  display: flex; /* utilisation du positionement en flex (par default en ligne) */
  justify-content: space-between; /* espacement entre les cartes */
}

.container .card {
  position: relative; /* positionnement relatif de la div */
}

/* dimensionnement des blocs qui vont former les cartes */
.container .card .face {
  width: 400px; /* largeur des blocs */
  height: 250px; /* hauteur des blocs */
  transition: 1s; /* durée globale des effets qui s'appliquent au survol la carte */
}

/* bloc div parent du bloc div contenant une image + un titre */
.container .card .face.face1 {
  position: relative; /* positionnement relatif de la div */
  background: #333; /*couleur du fond d'écran */
  display: flex; /* utilisation du positionement en flex (par default en ligne) */
  justify-content: center; /* alignement de/des enfant(s) direct de "div", au centre, dans sa largeur */
  align-items: center; /* alignement de/des enfant(s) direct de "div", au centre, dans sa hauteur */
  z-index: 1; /* du fait qu'un positionnement relatif est en place sur cet élément, z-index me permet de le garder au premier plan via l'index "1" car par defaut les éléments sont positionnés à l'index "0". */
  transform: translateY(
    125px
  ); /* décalage du bloc div en translation de 125 pixels sur l'axe Y par rapport à sa position relative actuelle */
}

/* Actions au survol du bloc div parent du bloc div contenant une image + un titre */
.container .card:hover .face.face1 {
  background: crimson; /* modification de la couleur du fond d'écran */
  transform: translateY(
    0
  ); /* décalage du bloc div en translation sur l'axe Y pour le faire revenir à sa position relative d'origine */
}

/* bloc div contenant une image + un titre */
.container .card .face.face1 .content {
  opacity: 0.4; /* réduction de l'opacité du bloc div */
  transition: 1s; /* durée globale des effets qui s'appliquent au survol la div */
  display: flex; /* utilisation du positionement en flex (par default en ligne) */
  flex-direction: column; /* Modification de la disposition par default des éléments de la div, et positionnement en colonne */
  justify-content: center; /* alignement de/des enfant(s) direct de "div", au centre, dans sa largeur */
  align-items: center; /* alignement de/des enfant(s) direct de "div", au centre, dans sa hauteur */
}

/* Action au survol du bloc div contenant une image + un titre */
.container .card:hover .face.face1 .content {
  opacity: 1; /* modification de l'opacité à son minimum */
}

/* ciblage de l'élément img */
.container .card .face.face1 .content img {
  max-width: 100px; /* largeur max de l'image */
}

/* ciblage de l'élément h3 */
.container .card .face.face1 .content h3 {
  margin: 10px 0 0; /* création d'une marge extérieur */
  padding: 0; /* marges internes mise à zéro */
  color: #fff; /*couleur du fond d'écran */
  text-align: center; /* aligenment du texte au centre */
  font-size: 1.5em; /* taille de la font */
}

/* bloc div parent du bloc div contenant un paragraphe + un lien */
.container .card .face.face2 {
  position: relative; /* positionnement relatif de la div */
  background: #fff; /*couleur du fond d'écran */
  display: flex; /* utilisation du positionement en flex (par default en ligne) */
  justify-content: center; /* alignement de/des enfant(s) direct de "div", au centre, dans sa largeur */
  align-items: center; /* alignement de/des enfant(s) direct de "div", au centre, dans sa hauteur */
  padding: 20px; /* marge interne */
  box-sizing: border-box; /* ajustement de la div au dimensions du parent */
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); /* effet d'ombres */
  transform: translateY(
    -125px
  ); /* décalage du bloc div en translation de -125 pixels sur l'axe Y par rapport à sa position relative actuelle */
}

/* Actions au survol du bloc div parent du bloc div contenant un paragraphe + un lien */
.container .card:hover .face.face2 {
  transform: translateY(
    0
  ); /* décalage du bloc div en translation sur l'axe Y pour le faire revenir à sa position relative d'origine */
}

/* ciblage de l'élément paragraphe */
.container .card .face.face2 .content p {
  margin: 0; /* pas de marges extérieurs */
  padding: 0; /* pas de marges intérieurs */
}

/* ciblage de l'élément lien */
.container .card .face.face2 .content a {
  margin: 15px 0 0; /* création d'une marge extérieur */
  display: inline-block;
  text-decoration: none; /* suppréssion de la ligne sous le lien */
  font-weight: 900; /* épaisseur de la font */
  color: #333; /* couleur de la font */
  padding: 5px; /* marge internes */
  border: 1px solid #333; /* bordure couleur noire de 1 pixel d'épaisseur */
}

/* Actions au survol du lien */
.container .card .face.face2 .content a:hover {
  background: #333; /* changement de la couleur de fond en noir*/
  color: #fff; /* changement de la couleur de la font en blanc */
}
