body {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  /* background: rgb(255, 255, 255); */
}

h1,
span {
  color: rgb(5, 20, 34);
}

.form {
  width: 50%;
  position: relative;
  height: 50px;
  /* background: crimson; */
}

.form input {
  width: 100%;
  height: 100%;
  color: rgb(120, 120, 224);
  padding-top: 10px;
  border: none;
  /* background: cadetblue; */
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* background: blueviolet; */
  pointer-events: none; /* permet l'accès à l'input, le label n'étant plus pris en compte au dessus de l'input */
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid rgb(60, 123, 160);
  /* background: burlywood; */
  transform: translateX(-100%);
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}
