nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style: none;
}

.menu {
  background-color: rgb(26, 26, 29);
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: aliceblue;
}
.submenu {
  display: none;
}

#menu1:hover > #submenu1 {
  display: contents;
}

#menu2:hover > #submenu2 {
  display: contents;
}

#menu3:hover > #submenu3 {
  display: contents;
}

.submenu li:hover {
  transition-duration: 0.5s;
  background-color: rgb(177, 122, 72);
  box-sizing: content-box;
  width: 100%;
}
