nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  background: red;
}

.menu {
  background-color: rgb(159, 142, 221);
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.submenu {
  display: none;
}

#menu1:hover > #submenu1 {
  display: contents;
}

#menu2:hover > #submenu2 {
  display: contents;
}

#menu3:hover > #submenu3 {
  display: contents;
}

.submenu li:hover {
  background-color: rgb(177, 122, 72);
  box-sizing: content-box;
  width: 100%;
}
