body {
  background: black;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#div1 {
  background-color: rgb(63, 197, 197);
}

#div2 {
  background-color: rgb(62, 209, 94);
}

#div3 {
  background-color: rgb(252, 227, 0);
}

#div4 {
  background-color: rgb(184, 54, 134);
}

.box {
  height: 48vh;
  width: 49%;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
  z-index: 1;
}

.title:hover {
  color: black;
  transition: 1s ease;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 1;
  position: absolute;
}

.overlay:hover {
  opacity: 0.1;
  transition: 1s ease;
}
