body {
  background: black;
}

main {
  height: 100vh;
  width: 200vh;
  display: flex;
  flex-wrap: wrap;
}

#div1 {
  width: 98vh;
  height: 48vh;
  background-color: aqua;
  margin: 5px;
}

#div2 {
  width: 98vh;
  height: 48vh;
  background-color: rgb(0, 255, 55);
  margin: 5px;
}

#div3 {
  width: 98vh;
  height: 48vh;
  background-color: rgb(251, 255, 0);
  margin: 5px;
}

#div4 {
  width: 98vh;
  height: 48vh;
  background-color: rgb(255, 0, 157);
  margin: 5px;
}
