body {
  background: black;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#div1 {
  background-color: rgb(63, 197, 197);
}

#div2 {
  background-color: rgb(62, 209, 94);
}

#div3 {
  background-color: rgb(252, 227, 0);
}

#div4 {
  background-color: rgb(184, 54, 134);
}

.box {
  height: 48vh;
  width: 49%;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition-property: z-index, color, opacity;
  transition-duration: 7s, 1s, 3s;
}

.title:hover {
  color: black;
  z-index: 0;
  opacity: 0.3;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 3em;
  position: absolute;
  opacity: 0.8;
}
