body {
  background: black;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#div1 {
  background-color: rgb(63, 197, 197);
}

#div2 {
  background-color: rgb(62, 209, 94);
}

#div3 {
  background-color: rgb(252, 227, 0);
}

#div4 {
  background-color: rgb(184, 54, 134);
}

.box {
  width: 49%;
  height: 48vh;
  margin: 3px;
  text-align: center;
}
