@font-face {
	font-family: "Marvel";
	src: url('../fonts/Marvel.ttf');
}

body{
    background-color: black;
    max-width: 1060px;
    margin: auto;
    padding-top: 50px;
}

header{
    background-image: url(https://wallpaperaccess.com/full/206670.jpg);
    background-size: cover;
    /* background-color: red; */
    border: solid white;
}

#headtitles{
    margin: 20px 0px 250px 0px;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: "Marvel", Helvetica, Arial, sans-serif;
    color: white;
    background: red;
    text-shadow: 5px 5px 10px black;
    margin: auto;
    padding: 0px 20px;
    letter-spacing: 5px;
    font-size: 5em;
    border: solid white;
}

h2{
    font-family: "Marvel", Helvetica, Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: auto;
}

#headnav nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

#headnav nav ul>li{
    font-family: "Marvel", Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: black;
    list-style: none;
    border: solid black;
    text-shadow: 1px 1px 2px white;
    padding: 0px 10px;
}

#headnav nav ul>li:hover{
    color: white;
    border: solid white;
    background: red;
    opacity: 0.5;
    
}

#headtitles h2 strong>a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgb(255, 255, 0);
}

#headtitles h2 strong>a:hover{
    text-shadow: 1px 1px 2px white;
}