body {
  margin: 0;
  padding: 0;

  background: black;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: beige;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

a:hover {
  color: black;
  background: beige;
  box-shadow: 0 0 10px beige, 0 0 40px beige, 0 0 80px beige;
  transition-delay: 0.1s;
}
